.notUser{
  button{
    border: 1px solid black;
    background-color:#801f24;
    color: white;
    &:hover {
      color: white;
      background: #801f24;
      border: 1px solid black;
    }
    // a {
    //   color: black;
    //   &:link {
    //     text-decoration: none;
    //   }
    // }
  }
}

.modal {
  .modal-dialog {
    .modal-content {
      nav {
        a{
          width: 50%;
          text-align: center;
        }
      }
      
      .input-group-text {
        padding: 0 3rem;
      }
      .input-field {
        text-align: end;
        button {
        border: 1px solid black;
        background: #801f24;;
        // color: white;
        margin-right: 2vw;
        }
      }
    }
  }
}