.notUser{
  color: #404040;
  font-family: 'Poppins', sans-serif;
  button{
    border: 1px solid #404040;
    background-color:#801f24;
    color: white;
    &:hover {
      color: white;
      background: #801f24;
      border: 1px solid #404040;
    }
    // a {
    //   color: black;
    //   &:link {
    //     text-decoration: none;
    //   }
    // }
  }
}

.modal {
  color: #404040;
  font-family: 'Poppins', sans-serif;
  .modal-dialog {
    .modal-content {
      nav {
        a{
          width: 50%;
          text-align: center;
        }
      }
      .signuptext{
        font-weight: bolder;
        margin-bottom: 2rem;
      }
      
      .input-group-text {
        padding: 0 3rem;
      }
      .input-field {
        text-align: end;
        button {
        border: 1px solid #404040;
        background: #801f24;;
        margin-right: 2vw;
        }
      }
      .agree{
        margin-top: 1rem;
        font-size: x-small;
        text-align: center;
      }
    }
  }
}