.topbar-outbox{
  display: flex;
  height: 6rem;
  margin-left: 5%;
  width: 100%;  

  .logo{
    margin: 0rem 1rem;
    padding: 1rem;
    .pic {
      display: flex;
      // height: 3rem;
      margin-top: 0.5rem;
      width: 20vw;
      min-width: 200px;
    }
  }

  .search{
    display: flex;
    width: 45%;
    margin: auto;
  }

  .sell-outbox {
    display: flex;
    // margin: auto;
    .sell {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0 1rem;
    }
  }

  .user{
    // display: flex;
    margin: auto 0;
    margin-right: 1rem;
  }


}