.card {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  .link{
    text-decoration-line: none;
    height: 100%;
    .card-title{
      font-size: 0.9rem;
      color: #404040;
  
    }
    .card-subtitle{
      font-size: 0.8rem;
      color: #606060
    }
  }
}