.upload_outbox {
  font-family: Optima, sans-serif;
  min-width: 780px;
  // min-height: 60vh;
  // max-width: 100vw;
  // max-height: 100vh;
  
  .form-outbox {
    display: flex;
    justify-content: center;
    margin-top: 18vh;
    // max-width: 100%;
    
    form {
      width: 65%;
      justify-content: center;

      .available {
        padding: 0 1rem 0 0;
      }

      .DayPickerInput {
        padding: 0 1rem;
        input {
          display: block;
          width: 100%;
          height: calc(1.5em + .75rem + 2px);
          font-size: 1rem;
          font-weight: 400;
          border-radius: .25rem;
          border: 1px solid #ced4da;
        }
      }
    }
  }

}